.container {
  background-image: url("./allMarvelCharacterBlue.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.card {
  border: 1px solid #fff;
  background: black;
  border-radius: 8px;
  overflow: hidden;
  height: 300px;
  max-width: 200px;
  color: #fff;
  cursor: pointer;
  background-color: rgb(57, 57, 57);
}

.card-top h1 {
  font-size: 0.9rem;
  margin: 20px;
  background-color: green;
}

.card-top > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background: black;
}

.card-bottom {
  margin: 10px 20px;
}

.category {
  position: relative;
}

.category::before {
  content: '';
  background: rgb(255, 61, 61);
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  height: 2px;
}

.detailContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 2px rgb(42, 42, 42);
  padding: 20px; /* Reduce el padding para achicar el espacio del container */
  width: 100%;
  margin-top: 100px;
  background-color: aqua; 
}

.carouselContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* Modificaciones en el CSS para achicar la distancia entre los componentes del carousel y permitir que se mueva por toda la pantalla */

.slick-slide > div {
  margin: 0 5px; /* Reduce el margen horizontal de los elementos del carousel */
}

.slick-list {
  margin: 0 -5px; /* Ajusta el margen horizontal de la lista del carousel */
}

.card {
  /* Ajusta el ancho del card para hacerlo más estrecho */
  width: 150px; /* Puedes ajustar este valor según tus necesidades */
  margin: 0 5px; /* Ajusta el margen horizontal entre los cards */
}

/* Permite que el carousel se mueva por toda la pantalla */
.slick-slider {
  width: 100%;
  overflow: hidden;
}
